<div class="flex justify-center items-center min-h-screen bg-back_image bg-cover bg-center pt-40">
  <div class="card w-100 bg-base-50 shadow-xl ">
    <div class="card-body items-center text-center">
      <h1 class="card-title text-7xl text-white">NBA CARD MATCH</h1>
      <p class="text-white text-2xl">NBA好きによるNBA好きのための神経衰弱</p>
      <div class="card-actions">
        <%= link_to 'GAME', start_game_path,class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>