<div class="flex flex-col justify-start items-center min-h-screen bg-back_image bg-cover bg-center pt-10">
  <h1 class="card-title text-8xl text-white mb-8">NBA CARD COLLECTION</h1>
  <p class="text-white text-2xl mb-24">神経衰弱でカードをコレクションしよう！</p>
  <div class="card w-100 bg-base-50 shadow-xl" data-card='{}'>
  <div class="card-body items-center text-center">
    <div class="card-actions mt-16">
      <a class="btn btn-primary" href="/games/start">GAME</a>
      <a class="btn btn-primary">My COLLECTION</a>
    </div>
  </div>
</div>